<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="/static/leaflet/leaflet.css" />
    <script src="/static/leaflet/leaflet.js"></script>
    <script src="/static/leaflet/leaflet-src.js"></script>
    <title>Landmarks represented as clusters</title>
    <style>
        #map {
            height: 600px;
            width: 80%;
        }
    </style>
</head>
<body>
    <div id="map"></div>

    <script>

        var map = L.map('map').setView([{{ map_center.latitude }}, {{ map_center.longitude }}], 12);

        L.tileLayer('http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
            maxzoom: 30,
            attribution: 'Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a>'
        }).addTo(map);

        {% for cluster in clusters %}
            var marker = L.marker([{{ cluster.cluster_loc.poi_lat }}, {{ cluster.cluster_loc.poi_lon }}]).addTo(map);
            marker.bindPopup("<p><b>Rank: </b>{{ cluster.rank }}<br><b>Name: </b>{{ cluster.cluster_address }}</p>");
            marker.on('click', function(e){
                e.openPopup();
            });
        {% endfor %}

    </script>

</body>
</html>