<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="/static/leaflet/leaflet.css" />
    <link rel="stylesheet" href="/static/bootstrap/css/bootstrap.css" type="text/css" />
    <link rel="stylesheet" href="/static/bootstrap/css/bootstrap.min.css" type="text/css"/>
    <link rel="stylesheet" href="/static/bootstrap/css/bootstrap-responsive.css" type="text/css"/>
    <link rel="stylesheet" href="/static/bootstrap/css/bootstrap-responsive.min.css" type="text/css"/>
    <script src="/static/leaflet/leaflet.js"></script>
    <script src="/static/leaflet/leaflet-src.js"></script>
    <script src="/static/js/jquery-1.11.2.min.js"></script>
    <script src="/static/js/csrf.js"></script>


    <title>Landmarks represented as clusters</title>
    <style>
        #container {
            height: 500px;
            width: 99%;
        }
        #leftpane, #map {
            height: 100%;
        }
        #heading,#home {
            margin-left: auto;
            margin-right: auto;
        }
        #heading_container {
            padding-top: 20px;
            padding-bottom: 20px;
            margin-bottom: 25px;
            background-color: #3a5774;
        }
    </style>
</head>
<body style="text-align: center">
    <div id="heading_container" class="row-fluid">
        <div id="heading" class="span11">
            <h2 style="color: #ffffcc">Landmark Extraction and Route Recommendation System</h2>
        </div>
        <div id="home" class="span1">
            <h2><a class="btn btn-info" href="/">Home</a></h2>
        </div>
    </div>

    <div id="container" class="row-fluid">
        <div id="leftpane" class="span3" >
            <h3>Choose source and destination</h3>
            <div style="margin-top: 50px">
                <form id="form" method="post" action="/route" onsubmit="return validate()">{% csrf_token %}
                    <div class="row-fluid" style="margin-left: 10px">
                        <p class="span3"><b>Source: </b></p>
                        <select id="source" name="source" class="span8">
                            <option selected value="0">None</option>
                            {% for cluster in clusters %}
                                <option value="{{ cluster.cluster_no }}">{{ cluster.cluster_address }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="row-fluid" style="margin-left: 10px">
                        <p class="span3"><b>Destination: </b></p>
                        <select id="dest" name="dest" class="span8">
                            <option selected value="0">None</option>
                            {% for cluster in clusters %}
                                <option value="{{ cluster.cluster_no }}">{{ cluster.cluster_address }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <input id="city" name="city" type="hidden" value="{{ location }}">
                    <div id="error" style="color: red"></div>
                    <input id="submit" type="submit" value="Show Route" class=" btn btn-info" style="margin-top: 20px">
                </form>
            </div>
        </div>
        <div id="map" class="span9">

        </div>
    </div>

    <script>

        var map = L.map('map').setView([{{ map_center.latitude }}, {{ map_center.longitude }}], 12);

        L.tileLayer('http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
            maxzoom: 30,
            attribution: 'Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a>'
        }).addTo(map);

        var marker_to_content = {};

        {% for cluster in clusters %}
            var marker = L.marker([{{ cluster.cluster_loc.poi_lat }}, {{ cluster.cluster_loc.poi_lon }}]).addTo(map);
            if({{ cluster.photo_exists }}) {
                var html_content = "<div style='text-align: center;' ><h3>{{ cluster.cluster_address }}</h3><p style='margin-top: 20px'><b>Rank: </b>{{ cluster.rank }}</p><div style='margin-top: 20px' class='row-fluid'><div class='span6'><p><b>Review: </b>{{ cluster.review }}</p><p><b>Rating: </b>{{ cluster.rating }}</p></div><div class='span6'><img src='/static/places/{{ cluster.cluster_no }}.jpg' height='300px' width='300px' alt='Image not available'></div></div></div>";
            }
            else {
                var html_content = "<div style='text-align: center;'><h3>{{ cluster.cluster_address }}</h3><p style='margin-top: 20px'><b>Rank: </b>{{ cluster.rank }}</p><p style='margin-top: 20px'><b>Review: </b>{{ cluster.review }}</p><p><b>Rating: </b>{{ cluster.rating }}</p></div>";
            }

            marker_to_content[marker._leaflet_id] = html_content;

            var popup = L.popup({maxWidth: 700, maxheight: 700});

            marker.on('click', function(e) {
                popup.setContent(marker_to_content[e.target._leaflet_id]);
                popup.setLatLng(e.latlng);
                popup.openOn(map);
            });
        {% endfor %}

        function validate() {

            var source = $('#source').val();
            var dest = $('#dest').val();
            if(source=="0"&&dest=="0") {
                $("#error").html("<p>Choose source and destination.</p>");
                return false;
            }
            if(source=="0") {
                $("#error").html("<p>Choose source.</p>");
                return false;
            }
            if(dest=="0") {
                $("#error").html("<p>Choose destination.</p>");
                return false;
            }
            if(source==dest) {
                $("#error").html("<p>Source and destination are the same.</p>");
                return false;
            }
            return true;
        }
    </script>

</body>
</html>