<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="/static/leaflet/leaflet.css" />
    <script src="/static/leaflet/leaflet.js"></script>
    <script src="/static/leaflet/leaflet-src.js"></script>
    <title>Landmarks represented as clusters</title>
    <style>
        #map {
            height: 600px;
            width: 80%;
        }
    </style>
</head>
<body>
    <div id="map"></div>

    <script>

{#        var map = L.map('map').setView([-33.8744212, 151.2019859], 12);#}
        var map = L.map('map').setView([{{ map_center.latitude }}, {{ map_center.longitude }}], 12);

        L.tileLayer('http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
            maxzoom: 30,
            attribution: 'Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a>'
        }).addTo(map);

        var src_marker = L.marker([{{ source.latitude }}, {{ source.longitude }}]).addTo(map);
        src_marker.bindPopup("<p><b>Name: </b>{{ source.name }}</p>");
        src_marker.on('click', function(e){
            e.openPopup();
        });
        var dest_marker = L.marker([{{ dest.latitude }}, {{ dest.longitude }}]).addTo(map);
        dest_marker.bindPopup("<p><b>Name: </b>{{ dest.name }}</p>");
        dest_marker.on('click', function(e){
            e.openPopup();
        });

        var route = L.polyline({{ path }}, {color: 'red', opacity: 0.75}).addTo(map);

    </script>

</body>
</html>