{% csrf_token %}

<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="/static/leaflet/leaflet.css" />
    <link rel="stylesheet" href="/static/css/rating.css" type="text/css"/>
    <link rel="stylesheet" href="/static/bootstrap/css/bootstrap.css" type="text/css" />
    <link rel="stylesheet" href="/static/bootstrap/css/bootstrap.min.css" type="text/css"/>
    <link rel="stylesheet" href="/static/bootstrap/css/bootstrap-responsive.css" type="text/css"/>
    <link rel="stylesheet" href="/static/bootstrap/css/bootstrap-responsive.min.css" type="text/css"/>
    <script src="/static/leaflet/leaflet.js"></script>
    <script src="/static/leaflet/leaflet-src.js"></script>
    <script src="/static/js/jquery-1.11.2.min.js"></script>
    <script src="/static/js/csrf.js"></script>


    <title>Route between landmarks</title>
    <style>
        #container {
            height: 500px;
            width: 98.5%;
        }
        #leftpane, #map {
            height: 100%;
        }
        #heading,#home {
            margin-left: auto;
            margin-right: auto;
        }
        #heading_container {
            padding-top: 20px;
            padding-bottom: 20px;
            margin-bottom: 25px;
            background-color: #3a5774;
        }
    </style>
</head>
<body style="text-align: center">
    <div id="heading_container" class="row-fluid">
        <div id="heading" class="span11">
            <h2 style="color: #ffffcc">Landmark Extraction and Route Recommendation System</h2>
        </div>
        <div id="home" class="span1">
            <h2><a class="btn btn-info" href="/">Home</a></h2>
        </div>
    </div>

    <div id="container" class="row-fluid">
        <div id="leftpane" class="span3" >
            <h3>Please rate us!</h3>

            <form id="form_rating" style="margin-left: 60px;" method="post">{% csrf_token %}
                <div>
                    <fieldset class="rating">
                        <input type="radio" id="star5" name="rating" value="5" /><label for="star5" title="Rocks!">5 stars</label>
                        <input type="radio" id="star4" name="rating" value="4" /><label for="star4" title="Pretty good">4 stars</label>
                        <input type="radio" id="star3" name="rating" value="3" /><label for="star3" title="Meh">3 stars</label>
                        <input type="radio" id="star2" name="rating" value="2" /><label for="star2" title="Kinda bad">2 stars</label>
                        <input type="radio" id="star1" name="rating" value="1" /><label for="star1" title="Sucks big time">1 star</label>
                    </fieldset>
                </div>

                <br/>
                <input type="submit" style="margin-top: 60px; position: absolute; left: 120px" class="btn btn-small btn-info" value="Rate">
            </form>

            <div id="message"  style="margin-top: 25px;">

            </div>

        </div>
        <div id="map" class="span9">

        </div>
    </div>

    <script>

        var map = L.map('map').setView([{{ map_center.latitude }}, {{ map_center.longitude }}], 12);
        var marker_to_content = {};

        L.tileLayer('http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
            maxzoom: 30,
            attribution: 'Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a>'
        }).addTo(map);

        var src_marker = L.marker([{{ source.latitude }}, {{ source.longitude }}]).addTo(map);

        if({{ source.photo_exists }}) {
            var html_content = "<div style='text-align: center;' ><h3>{{ source.name }}</h3><p style='margin-top: 20px'><b>Rank: </b>{{ source.rank }}</p><div style='margin-top: 20px' class='row-fluid'><div class='span6'><p><b>Review: </b>{{ source.review }}</p><p><b>Rating: </b>{{ source.rating }}</p></div><div class='span6'><img src='/static/places/{{ source.cluster_no }}.jpg' height='300px' width='300px' alt='Image not available'></div></div></div>";
        }
        else {
            var html_content = "<div style='text-align: center;'><h3>{{ source.name }}</h3><p style='margin-top: 20px'><b>Rank: </b>{{ source.rank }}</p><p style='margin-top: 20px'><b>Review: </b>{{ source.review }}</p><p><b>Rating: </b>{{ source.rating }}</p></div>";
        }

        marker_to_content[src_marker._leaflet_id] = html_content;

        var popup = L.popup({maxWidth: 700, maxheight: 700});

        src_marker.on('click', function(e) {
            popup.setContent(marker_to_content[e.target._leaflet_id]);
            popup.setLatLng(e.latlng);
            popup.openOn(map);
        });

{#        src_marker.bindPopup("<p><b>Name: </b>{{ source.name }}</p>");#}
{#        src_marker.on('mouseover', function(e){#}
{#            e.target.openPopup();#}
{#        });#}
{#        src_marker.on('mouseout', function(e){#}
{#            e.target.closePopup();#}
{#        });#}
        var dest_marker = L.marker([{{ dest.latitude }}, {{ dest.longitude }}]).addTo(map);

        if({{ dest.photo_exists }}) {
            var html_content = "<div style='text-align: center;' ><h3>{{ dest.name }}</h3><p style='margin-top: 20px'><b>Rank: </b>{{ dest.rank }}</p><div style='margin-top: 20px' class='row-fluid'><div class='span6'><p><b>Review: </b>{{ dest.review }}</p><p><b>Rating: </b>{{ dest.rating }}</p></div><div class='span6'><img src='/static/places/{{ dest.cluster_no }}.jpg' height='300px' width='300px' alt='Image not available'></div></div></div>";
        }
        else {
            var html_content = "<div style='text-align: center;'><h3>{{ dest.name }}</h3><p style='margin-top: 20px'><b>Rank: </b>{{ dest.rank }}</p><p style='margin-top: 20px'><b>Review: </b>{{ dest.review }}</p><p><b>Rating: </b>{{ dest.rating }}</p></div>";
        }

        marker_to_content[dest_marker._leaflet_id] = html_content;

        var popup = L.popup({maxWidth: 700, maxheight: 700});

        dest_marker.on('click', function(e) {
            popup.setContent(marker_to_content[e.target._leaflet_id]);
            popup.setLatLng(e.latlng);
            popup.openOn(map);
        });


{#        dest_marker.bindPopup("<p><b>Name: </b>{{ dest.name }}</p>");#}
{#        dest_marker.on('mouseover', function(e){#}
{#            e.target.openPopup();#}
{#        });#}
{#        dest_marker.on('mouseout', function(e){#}
{#            e.target.closePopup();#}
{#        });#}

        var route = L.polyline({{ path }}, {color: 'red', opacity: 0.75}).addTo(map);

        $(document).ready(function() {
            $('#form_rating').submit(function(e) {
                e.preventDefault();
                var rating = $('input[name=rating]:checked', '#form_rating').val();
                $.ajax({
                    type: "POST",
                    url: "/rate",
                    data: {
                        'rating': rating,
                        'location': {{ location }},
                        'source': {{ source.cluster_no }},
                        'destination': {{ dest.cluster_no }}
                    }
                }).done(function (data) {
                    $('#message').html("<h5>Thank you for rating.</h5>");
                });

                return false;
            });
        });

    </script>

</body>
</html>